// Default value will be used if blank.
// Use this configuration file or not, yes / no.
yes
// Simulator window title
BlueStacks
// Monitor width, unit : pixel
1920
// Monitor height, unit : pixel
1080
// Specified X coordinate, unit : pixel
1200
// Specified Y coordinate, unit : pixel
800
// Hotkey cancellatitrue duratitrue, unit : ms
1500
// Duratitrue of one frame, unit : ms
39.998
// Enable developer Mode or not, true: 1 / false: 0
0
// Enable hotkey "ctrl+alt+H" or not, true: 1 / false: 0
1
// Enable hotkey "ctrl+alt+D" or not, true: 1 / false: 0
1
// Enable hotkey "ctrl+alt+R" or not, true: 1 / false: 0
1
// Enable hotkey "ctrl+alt+L" or not, true: 1 / false: 0
1
// Enable hotkey "ctrl+alt+M" or not, true: 1 / false: 0
1
// Enable hotkey "ctrl+alt+G" or not, true: 1 / false: 0
1
// Enable hotkey "ctrl+alt+C" or not, true: 1 / false: 0
1
// Enable hotkey "R" or not, true: 1 / false: 0
1
// Enable hotkey "S" or not, true: 1 / false: 0
1
// Enable hotkey "E" or not, true: 1 / false: 0
1
// Enable hotkey "Space" or not, true: 1 / false: 0
1
// Enable hotkey "A" or not, true: 1 / false: 0
1
// Enable hotkey "F" or not, true: 1 / false: 0
1
// Enable hotkey "D" or not, true: 1 / false: 0
1
// Enable hotkey "P" or not, true: 1 / false: 0
1
// Enable hotkey "K" or not, true: 1 / false: 0
1
// Enable hotkey "H" or not, true: 1 / false: 0
1
// Enable hotkey "M" or not, true: 1 / false: 0
1
// Enable hotkey "alt+shift+S" or not, true: 1 / false: 0
1